@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import "../styles/functions";
@import "../styles/tokens";
@import "../styles/utilities";

@layer base {
  ::selection {
    @apply bg-accent/20;
  }
}

html,
body {
  overscroll-behavior: none;
}

.auto-grow-textarea {
  resize: none;
  field-sizing: content;
  // min-height: 24px;
  // max-height: 120px;
  overflow-y: auto;
  height: auto !important;
}
